In [1]:
import pandas as pd

In [2]:
nyc_taxi = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [7]:
taxi_lookup = pd.read_csv("taxi-zone-lookup.csv")

In [4]:
nyc_taxi.tpep_pickup_datetime = pd.to_datetime(nyc_taxi.tpep_pickup_datetime) #change the column into timestamp
nyc_taxi.tpep_dropoff_datetime = pd.to_datetime(nyc_taxi.tpep_dropoff_datetime) #change the column into timestamp

In [2]:
from sqlalchemy import create_engine #create engine to connect to database with sqlalchemy

In [3]:
engine = create_engine('postgresql://user:password@host:port/db')

In [7]:
print(pd.io.sql.get_schema(nyc_taxi, name="yellow_taxi_data", con=engine)) #get schema to use for sql ddl command

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [8]:
nyc_taxi_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000) #the data has almost 1400 000 rows, 
# so it's better to use iterator and chunks

In [9]:
nyc_taxi_iter

In [10]:
nyc_taxi = next(nyc_taxi_iter)

In [11]:
nyc_taxi.tpep_pickup_datetime = pd.to_datetime(nyc_taxi.tpep_pickup_datetime) #change the column into timestamp
nyc_taxi.tpep_dropoff_datetime = pd.to_datetime(nyc_taxi.tpep_dropoff_datetime) #change the column into timestamp

In [12]:
nyc_taxi.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists="replace") #to create columns

0

In [13]:
nyc_taxi.to_sql(name='yellow_taxi_data', con=engine, if_exists="append") #to add rows

1000

In [9]:
taxi_lookup.head(n=0).to_sql(name='taxi_lookup', con=engine, if_exists="replace")

0

In [10]:
taxi_lookup.to_sql(name='taxi_lookup', con=engine, if_exists="append")

265

In [14]:
while True: #it throws error when there is no more data
    nyc_taxi = next(nyc_taxi_iter)
    nyc_taxi.tpep_pickup_datetime = pd.to_datetime(nyc_taxi.tpep_pickup_datetime)
    nyc_taxi.tpep_dropoff_datetime = pd.to_datetime(nyc_taxi.tpep_dropoff_datetime)

    nyc_taxi.to_sql(name='yellow_taxi_data', con=engine, if_exists="append")

/tmp/ipykernel_135608/1257531010.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nyc_taxi.tpep_dropoff_datetime = pd.to_datetime(nyc_taxi.tpep_dropoff_datetime)
/tmp/ipykernel_135608/1257531010.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  nyc_taxi = next(nyc_taxi_iter)

StopIteration:

In [11]:
#sql queries in pandas
query = """ 
select count(1) from taxi_lookup;
"""
pd.read_sql(query, con=engine)

   count
0    265

In [9]:
query = """ 
select max(tpep_pickup_datetime), min(tpep_pickup_datetime), max(total_amount) 
from yellow_taxi_data;
"""
pd.read_sql(query, con=engine)

                  max                 min      max
0 2021-02-22 16:52:16 2008-12-31 23:05:14  7661.28