In [1]:
import pandas as pd

In [2]:
nyc_taxi = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [8]:
nyc_taxi.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01T00:30:10.000000000,2021-01-01T00:36:12.000000000,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01T00:51:20.000000000,2021-01-01T00:52:19.000000000,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01T00:43:30.000000000,2021-01-01T01:11:06.000000000,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01T00:15:48.000000000,2021-01-01T00:31:01.000000000,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01T00:31:49.000000000,2021-01-01T00:48:21.000000000,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [3]:
nyc_taxi.tpep_pickup_datetime = pd.to_datetime(nyc_taxi.tpep_pickup_datetime) #change the column into timestamp
nyc_taxi.tpep_dropoff_datetime = pd.to_datetime(nyc_taxi.tpep_dropoff_datetime) #change the column into timestamp

In [4]:
from sqlalchemy import create_engine #create engine to connect to database with sqlalchemy

In [5]:
engine = create_engine('postgresql+psycopg2://romi9987:XXXXXXXXXXX@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(nyc_taxi, name="yellow_taxi_data", con=engine)) #get schema to use for sql ddl command

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [8]:
nyc_taxi_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000) #the data has almost 1400 000 rows, 
# so it's better to use iterator and chunks

In [9]:
nyc_taxi_iter

In [10]:
nyc_taxi = next(nyc_taxi_iter)

In [11]:
nyc_taxi.tpep_pickup_datetime = pd.to_datetime(nyc_taxi.tpep_pickup_datetime) #change the column into timestamp
nyc_taxi.tpep_dropoff_datetime = pd.to_datetime(nyc_taxi.tpep_dropoff_datetime) #change the column into timestamp

In [12]:
nyc_taxi.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists="replace") #this is to create columns

0

In [13]:
nyc_taxi.to_sql(name='yellow_taxi_data', con=engine, if_exists="append") #this is to add rows

1000

In [14]:
while True: #it throws error when there is no more data
    nyc_taxi = next(nyc_taxi_iter)
    nyc_taxi.tpep_pickup_datetime = pd.to_datetime(nyc_taxi.tpep_pickup_datetime)
    nyc_taxi.tpep_dropoff_datetime = pd.to_datetime(nyc_taxi.tpep_dropoff_datetime)

    nyc_taxi.to_sql(name='yellow_taxi_data', con=engine, if_exists="append")

/tmp/ipykernel_135608/1257531010.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nyc_taxi.tpep_dropoff_datetime = pd.to_datetime(nyc_taxi.tpep_dropoff_datetime)
/tmp/ipykernel_135608/1257531010.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  nyc_taxi = next(nyc_taxi_iter)

StopIteration:

In [15]:
#sql queries in pandas
query = """ 
select count(1) from yellow_taxi_data;
"""
pd.read_sql(query, con=engine)

     count
0  1369769